:root {
	--color-main-bg-grey: 0, 0, 0;
	--color-hover-bg: #e9ebeb;
	--color-icons: #b1b1b1;
	--color-sent-bg: #d5f9ba;
	--color-white-bg: #ffffff;
	--color-notifiche-bg: #8edafc;
}

.jw-debug {
	border: 1px solid red;
}

#app {
	height: 100vh;
	width: 100%;
	background: linear-gradient(180deg, #009688 20%, #DADBD3 20%);
}

/* UTILITY */
.active {
	background-color: var(--color-hover-bg);
}

.active :hover {
	background-color: var(--color-hover-bg);
}

.sent {
	background-color: var(--color-sent-bg);
	margin-left: auto;
	margin-top: 5px;
	font-size: smaller;
}

.received {
	background-color: var(--color-white-bg);
	margin-right: auto;

}

.msg {
	padding: 15px;
}

.sent .dropdown-toggle{
	position: absolute;
	right: 10;
	top: 0;
	cursor: pointer;
	color: grey;
}
.received .dropdown-toggle{
	position: absolute;
	right: 5px;
	top: -5px;
	cursor: pointer;
	color: grey;
}